header{
  background-color: #000;
  color: #FFF;
  height: 5.5rem;
}

header h1{
  float: left; 
  margin: 0 0 0 5%;
  vertical-align: middle; 
  line-height: 6rem;
}

header nav{
  float: right;
  margin-right: 5%;
  font-size: 1rem;
  vertical-align: middle; 
  line-height: 5.5rem;
}

.nav_link, footer a{
  text-decoration: none;
  color: #FFF;
}

.nav_link{
  padding-right: 1rem;
}

.nav_link:hover, footer a:hover{
  color: #c6a7ff;
}

.list-product {
  margin-top: 1rem; 
}

.list-product_block {
  border: 3px solid #c6a7ff;
  width: 50%;
  margin: 1%;
  padding: 1%;
  margin: 1% auto 1% auto; 
  text-align: center;
}

.list-product_block img{
  width: 90%;
}

footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #000; 
  color: #FFF;
  font-size: 1.2rem;
}

